<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard_styles.css') }}">
</head>
<body>
    <p>Welcome {{username}}, <a href='/logout'>Logout</a>   <a href='/trades'>Trades</a>   <a href='/settings'>Settings</a></p>
    <h1>Dashboard</h1>
    <p>Date: {{dashboard.date}}</p>
    <p>Time: {{dashboard.time}}</p>
    <p>Today’s Target: {{dashboard.today_target}} %</p>
    <p>Target Achieved: {{dashboard.target_achieved}} %</p>
    <p>Total Profit: <span class="{% if dashboard.total_profit > 0 %}positive-profit{% else %}negative-profit{% endif %}">$ {{dashboard.total_profit}}</span></p>
    <br>
    <br>
    <table>
        <tr>
            <th>Exchange</th>
            <th>Status</th>
            <th>Coin</th>
            <th>Starting Balance $</th>
            <th>Current Quantity</th>
            <th>Current Balance $</th>
            <th>Trades</th>
            <th>Total Trading Fees $</th>
            <th>% Profit</th>
            <th>Profit $</th>
        </tr>
        {% for exchange in exchanges %}
        <tr>
            <td>{{ exchange.name }}</td>
            <td>{{ exchange.status }}</td>
            <td>{{ exchange.symbol }}</td>
            <td>{{ exchange.starting_balance }}</td>
            <td>{{ exchange.current_quantity }}</td>
            <td>{{ exchange.current_balance }}</td>
            <td>{{ exchange.trades }}</td>
            <td>{{ exchange.total_trading_fees }}</td>
            <td>{{ exchange.profit_percentage }}</td>
            <td>{{ exchange.profit }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h3>Logs</h3>
    <div class="scrollable-area">
        <pre>{{ logs }}</pre>
    </div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
