<!DOCTYPE html>
<html>
<head>
    <title>Trades</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/trades_styles.css') }}">
</head>
<body>
    <p><a href='/'>Back to dashboard</a></p>
    <h1 style="margin-right: 10px;">Trades</h1>
    <p>Date: {{trades.date}}</p>
    <p>Target: {{trades.target}} %</p>
    <p>Target Achieved: {{trades.target_achieved}} %</p>
    <p>Total Profit: <span class="{% if trades.total_profit > 0 %}positive-profit{% else %}negative-profit{% endif %}">$ {{trades.total_profit}}</span></p>
    <br>
    <br>
    <form method="POST" action="/trades">
        <label for="date_input">Date:</label>
        <input type="text" id="date_input" name="date_input" value="{{ trades.date_raw }}" required>
        <button type="submit">Update</button>
    </form>
    <br>
    <table>
        <tr>
            <th>No</th>
            <th>Exchange</th>
            <th>Coin</th>
            <th>Order value $</th>
            <th>Type</th>
            <th>Entry time</th>
            <th>Buy Price $</th>
            <th>Quantity</th>
            <th>Exit time</th>
            <th>Sell Price $</th>
            <th>Total Trading Fees $</th>
            <th>% Profit</th>
            <th>Profit $</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ order.exchange }}</td>
            <td>{{ order.symbol }}</td>
            <td>{{ order.order_value }}</td>
            <td>{{ order.type }}</td>
            <td>{{ order.entry_time }}</td>
            <td>{{ order.buy_price }}</td>
            <td>{{ order.buy_quantity }}</td>
            <td>{{ order.exit_time }}</td>
            <td>{{ order.sell_price }}</td>
            <td>{{ order.total_trading_fees }}</td>
            <td>{{ order.profit_percentage }}</td>
            <td>{{ order.profit }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
